// Poppins
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/font-poppins/Poppins-SemiBold.otf') format('opentype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/font-poppins/Poppins-Bold.otf') format('opentype');
}

/* Pony */
@font-face {
  font-family: 'Pony';
  font-style: normal;
  src: url('/assets/fonts/icel-pony/Pony.ttf') format('truetype');
}

// Lato
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/lato/Lato Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/lato/Lato Regular.ttf') format('truetype');
}
